# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment
.env

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# FAISS vector store and docstore
user_data/admin/vector_KB/

# Test and cache
Backend/.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Compiled files
*.so

# Local data
user_data/admin/last_fingerprint.json
user_data/admin/dialogues.json
user_data/admin/users.json
user_data/admin/system_prompt.txt

# User-specific data (exclude all user directories except admin)
user_data/*/
!user_data/admin/ 

# Widgets
Widgets/
